@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');

.font-cardo {
  font-family: 'Cardo', serif;
}

.font-size {
  font-size: 18px;
}

.navbar-brand {
  font-size: 22px;
}

.imagem-carrossel {
  object-fit: cover;
  margin-top: 56px;
  height: calc(65vh - 56px);
}

.container-cards {
  padding-top: 30px;
  padding-bottom: 30px;
}

.card {
  text-align: justify;
}

.img-card {
  width: 64px;
}

.footer {
  background-color: #eee;
}

.thumb {
  background-color: #fff;
}

.thumbnail {
  border-radius: 50%; 
  width: 250px; 
  height: 250px; 
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .navbar-brand {
    font-size: 16px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-brand {
    font-size: 14px;
  }
}